body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #ffffff;
    padding: 100px 80px;
}

.about {
    margin-bottom: 40px;
}


.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.work {
    margin-bottom: 45px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rosybrown;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0px;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education {}

.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rosybrown;
    margin-bottom: 10px;
}

.specialization {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}


.sidebar {
    background-color: rosybrown;
    padding-top: 40px;
    width 370px;
}

.photo {
    width: 400px;
    margin-bottom: 5px;
}

.contacts, 
.tech-skills, 
.soft-skills  {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.sidebar-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #FFFFFF;
}

.tech-skills {
    margin-bottom: 45px;
}

.tech-skills-list,
.soft-skill-list {
    color: #ffffff;
    padding: 0;
    margin-left: 17px;
}

.tech-skill-item,
.soft-skill-item {
    color: #ffffff;
}

.tech-skill-text,
.soft-skill-text {
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
