body {
    font-family: 'Montserrat', sans-serif;
}
main {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #ffffff;
    padding: 30px 80px;
}

.about {
    margin-bottom: 40px;
}


.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.work {
    margin-bottom: 45px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rosybrown;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #595959;
}

.work-list {
    padding: 0px;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rosybrown;
    margin-bottom: 10px;
}

.specialization {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}


.sidebar {
    background-color: white;
    padding-top: 10px;
}

.photo {
    width: 180px;
    margin: 10px 0px;
    border-radius: 50%;
}

.tech-skills, 
.soft-skills,
.language-skills  {
    margin-left: 20px;
}

.contacts {
    margin-bottom: 50px;
}

.contacts-title {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: rosybrown;
}

.form {
    margin-top: 30px;
}

.button-contact:hover {
    background-color: rosybrown;
    color: white;
}

.sidebar-title {
    color: #595959;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.tech-skills {
    margin-bottom: 10px;
}

.tech-skills-list,
.soft-skill-list,
.language-skills-list {
    color: #595959;
    padding: 0;
    margin-left: 17px;
}

.tech-skill-item,
.soft-skill-item,
.language-skill-item {
    color: #595959;
}

.tech-skill-text,
.soft-skill-text,
.language-skill-text {
    color: #595959;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
